/* You can add global styles to this file, and also import other style files */
/* @import "./semantic-portal/dist/semantic.css" !important;
@import "./semantic/dist/semantic.css"; */

.bg-somos {
  background-image: url('./assets/background-login.jpg') !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  min-width: 100% !important;
  min-height: 100% !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 999;
}

/* CONTAINER */
.container{
  margin: 0 auto !important;
  width: 80% !important;
}

/* TEXT COLORS */
.txt-pink {
  color: #e5386f !important;
}
.txt-white {
  color: white !important;
}
.txt-purple {
  color: #7314a4 !important;
}

/* FONT WEIGHT */
.fw-bold {
  font-weight: bold !important;
}

/* FONT SIZE */
.fs-20 {
  font-size: 20px !important;
}

/* MARGIN */
.mg-0 {
  margin: 0 !important;
}
.mg-1 {
  margin: 5px !important;
}
.mg-2 {
  margin: 10px !important;
}
.mg-3 {
  margin: 15px !important;
}
.mg-4 {
  margin: 20px !important;
}

/* MARGIN RIGHT */
.mgr-0 {
  margin-right: 0 !important;
}
.mgr-1 {
  margin-right: 5px !important;
}
.mgr-2 {
  margin-right: 10px !important;
}
.mgr-3 {
  margin-right: 15px !important;
}
.mgr-4 {
  margin-right: 20px !important;
}

/* MARGIN LEFT */
.mgl-0 {
  margin-left: 0 !important;
}
.mgl-1 {
  margin-left: 5px !important;
}
.mgl-2 {
  margin-left: 10px !important;
}
.mgl-3 {
  margin-left: 15px !important;
}
.mgl-4 {
  margin-left: 20px !important;
}

/* MARGIN TOP */
.mgt-0 {
  margin-top: 0 !important;
}
.mgt-1 {
  margin-top: 5px !important;
}
.mgt-2 {
  margin-top: 10px !important;
}
.mgt-3 {
  margin-top: 15px !important;
}
.mgt-4 {
  margin-top: 20px !important;
}

/* MARGIN BOTTOM */
.mgb-0 {
  margin-bottom: 0 !important;
}
.mgb-1 {
  margin-bottom: 5px !important;
}
.mgb-2 {
  margin-bottom: 10px !important;
}
.mgb-3 {
  margin-bottom: 15px !important;
}
.mgb-4 {
  margin-bottom: 20px !important;
}

/* PADDING */
.pd-0 {
  padding: 0 !important;
}
.pd-1 {
  padding: 5px !important;
}
.pd-2 {
  padding: 10px !important;
}
.pd-3 {
  padding: 15px !important;
}
.pd-4 {
  padding: 20px !important;
}

/* PADDING RIGHT */
.pdr-0 {
  padding-right: 0 !important;
}
.pdr-1 {
  padding-right: 5px !important;
}
.pdr-2 {
  padding-right: 10px !important;
}
.pdr-3 {
  padding-right: 15px !important;
}
.pdr-4 {
  padding-right: 20px !important;
}

/* PADDING LEFT */
.pdl-0 {
  padding-left: 0 !important;
}
.pdl-1 {
  padding-left: 5px !important;
}
.pdl-2 {
  padding-left: 10px !important;
}
.pdl-3 {
  padding-left: 15px !important;
}
.pdl-4 {
  padding-left: 20px !important;
}

/* PADDING TOP */
.pdt-0 {
  padding-top: 0 !important;
}
.pdt-1 {
  padding-top: 5px !important;
}
.pdt-2 {
  padding-top: 10px !important;
}
.pdt-3 {
  padding-top: 15px !important;
}
.pdt-4 {
  padding-top: 20px !important;
}

/* PADDING BOTTOM */
.pdb-0 {
  padding-bottom: 0 !important;
}
.pdb-1 {
  padding-bottom: 5px !important;
}
.pdb-2 {
  padding-bottom: 10px !important;
}
.pdb-3 {
  padding-bottom: 15px !important;
}
.pdb-4 {
  padding-bottom: 20px !important;
}

.border-card {
  border: none !important;
  border-radius: 5px !important;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15) !important;
}
